header {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding: 8px;
    width: 100%;
}

header h1 {
    text-align: center;
    text-transform: uppercase;
}