header {
    align-items: center;
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    justify-content: center;
    padding: 8px;
}

header h1 {
    text-align: center;
    text-transform: uppercase;
}