#menu {
    align-items: center;
    background: #00bee1;
    border: 1px solid #000000;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030; 
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: fixed;
    width: 8rem;
    z-index: 2;
}

#menu a {
    color: #fff;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 120%;
}

#menu a:hover {
    background: #bfffbc;
    color: #000;
}

.hidden {
    margin-top: -9999px;
    display: none;
}
