.card {
    align-items: center;
    background: #ffffff4b;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 6px;
    justify-content: center;
    overflow: hidden;
    width: 98%;
}

.card img {
    flex: 9;
    object-fit: cover;
    width: 100%;
}

.card span {
    align-items: center;
    flex: 1;
    padding: 6px;
    text-align: justify;
}