.card {
    align-items: center;
    background: #ffffff4b;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 6px;
    justify-content: center;
    overflow: hidden;
    width: 98%;
}

.card img {
    flex: 9;
    object-fit: cover;
    width: 100%;
}

.card span {
    align-items: center;
    flex: 1;
    padding: 6px;
    text-align: justify;
}

.card p {
    padding: 8px;
}

@media screen and (min-width: 768px) {
    #intro {
        flex-direction: row;
        height: 600px;
        width: 85%;
    }

    #intro img {
        flex: 1;
        height: 100%;
        width: 65%;
    }

    #intro div {
        align-self: flex-start;
        flex: 1;
        padding: 6px;
        text-align: justify;
    }
}